

.txt{
    background-color: rgba(107, 107, 107, 0.797);
    justify-content: center;
    color: black;
    margin: 10px;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    transition: 0.7s;
    transform-origin: center;
}

.txt:hover{
    background-color: rgba(255, 255, 255, 0.778);

}



h2{
    color: rgb(251, 151, 10);
    text-decoration: underline;
    font-size: 40px;
    text-align: center;
}


h3{
    color: rgb(251, 151, 10);
    text-decoration: underline;
    font-size: 30px;
}
